## SNOWBALL Spark SQL version
#### **Notebook to create DATAMART layer**
##### **Creating DATAMART schema to create required DATAMART tables**

In [ ]:
%%sql
CREATE SCHEMA IF NOT EXISTS datamart;

##### **dim_calendar**

In [ ]:
%%sql
DROP TABLE IF EXISTS datamart.dim_calendar;
CREATE TABLE datamart.dim_calendar AS
SELECT

    *
    , YEAR(month_roll)                                     AS year
    , MONTH(month_roll)                                    AS month_no
    , FORMAT(month_roll, 'MON')                            AS month_name
    , 'Q' + CAST(DATEPART(QUARTER, month_roll) AS VARCHAR) AS quarter
    , FORMAT(month_roll, 'MMM-yy')                         AS mmm_yy

FROM "arr_sandbox"."core"."calendar"

##### **dim_customer**

In [ ]:
%%sql
DROP TABLE IF EXISTS datamart.dim_customer;
CREATE TABLE datamart.dim_customer AS
SELECT

    customer_key
    , customer_level_1
    , customer_level_2
    , customer_level_3
    , customer_level_4
    , customer_level_5
    , customer_level_6
    , customer_level_7
    , customer_level_8
    , customer_level_9
    , customer_name
    , customer_region

FROM "arr_sandbox"."core"."revenue"

GROUP BY
    customer_key
    , customer_level_1
    , customer_level_2
    , customer_level_3
    , customer_level_4
    , customer_level_5
    , customer_level_6
    , customer_level_7
    , customer_level_8
    , customer_level_9
    , customer_name
    , customer_region

##### **dim_other**

In [ ]:
%%sql
DROP TABLE IF EXISTS datamart.dim_other;
CREATE TABLE datamart.dim_other AS
SELECT

    other_key
    , other_dim_1
    , other_dim_2

FROM "arr_sandbox"."core"."revenue"

GROUP BY
    other_key
    , other_dim_1
    , other_dim_2

##### **dim_product**

In [ ]:
%%sql
DROP TABLE IF EXISTS datamart.dim_product;
CREATE TABLE datamart.dim_product AS
SELECT

    product_key
    , product_level_1
    , product_level_2

FROM "arr_sandbox"."core"."revenue"

GROUP BY
    product_key
    , product_level_1
    , product_level_2

##### **fact_revenue**

In [ ]:
%%sql
DROP TABLE IF EXISTS datamart.fact_revenue;
CREATE TABLE datamart.fact_revenue AS
SELECT

    revenue_key
    , customer_key
    , product_key
    , other_key
    , volume
    , month
    , revenue_type
    , revenue
    , mrr

FROM "arr_sandbox"."core"."revenue"